[gcode_macro CLEAN_NOZZLE] 
variable_x_min: 321
variable_x_max: 355
variable_y_min: 360
variable_y_max: 364
variable_z_height: 1.5
variable_speed: 6000
variable_iterations: 15
variable_final_retract: 1
variable_wait_after_extrude : 30
gcode:
    {% set x_min = printer["gcode_macro CLEAN_NOZZLE"].x_min %}
    {% set x_max = printer["gcode_macro CLEAN_NOZZLE"].x_max %}
    {% set y_min = printer["gcode_macro CLEAN_NOZZLE"].y_min | int %}
    {% set y_max = printer["gcode_macro CLEAN_NOZZLE"].y_max | int %}
    {% set z_height = printer["gcode_macro CLEAN_NOZZLE"].z_height %}
    {% set speed = printer["gcode_macro CLEAN_NOZZLE"].speed %}
    {% set iterations = printer["gcode_macro CLEAN_NOZZLE"].iterations | int %}
    {% set final_retract = printer["gcode_macro CLEAN_NOZZLE"].final_retract %}
    {% set wait_after_extrude = printer["gcode_macro CLEAN_NOZZLE"].wait_after_extrude | int %}
    
    {% set initial_target = printer.extruder.target %} # save current Nozzle Temp
    {% set original_fan_speed = printer.fan.speed %}

    {% if printer.toolhead.homed_axes != "xyz" %}
       G28
    {% endif %}

    {% if printer.extruder.temperature < 220 %}
      M117 Nozzle heating...
      M109 S220
    {% endif %}
    
    G90 
    M117 Clean nozzle

    M106 S255 ; Fan auf 100% waehrend Cleaning

    # Vor dem Cleaning auf x_max fahren und Z absenken
    G1 X{x_max} Y{y_min} F{speed}
    G1 Z{z_height} F1500

    # Initial purge while moving to first wipe point
    M83 ; Relative extrusion mode
    G1 X{x_min} E10 F600 ; 10mm extrudieren während der Fahrt zu x_min
    G1 E-0.5 F3000 ; Sofortiger kleiner Entlastungs-Retract gegen Ooze
    
    M104 S150 ; Zieltemperatur auf 150°C senken (kühlt während des Wischens ab)
    G4 P{wait_after_extrude * 1000} ; Pause zum Abkühlen/Setzen des Purges

    # Cleaning Logic
    {% for i in range(iterations - 1) %}
        {% set rand_y1 = range(y_min, y_max + 1) | random %}
        G1 X{x_max} Y{rand_y1} F{speed}

        {% set rand_y2 = range(y_min, y_max + 1) | random %}
        G1 X{x_min} Y{rand_y2} F{speed}
    {% endfor %}
    
    # Final wipe with retraction over the full length
    {% set last_y = range(y_min, y_max + 1) | random %}
    G1 X{x_max} Y{last_y} E-{final_retract} F{speed}
    
    # "The Snap" - Ruckartiges Abheben zum Fadenabriss
    G1 Z{z_height + 5} F12000 ; Schneller Sprung nach oben
    G92 E0 ; Extruder-Zähler zur Sicherheit auf 0 setzen
    M106 S{original_fan_speed * 255}
    
    M400 ; Wait til lbuffer clear
    M117 Clean Finish
    
    # Restore initial target temperature without waiting
    M104 S{initial_target}

    G91
    G1 Z10 F300
    G90