[gcode_macro START_PRINT]
description: 
variable_state: 'Prepare'
variable_record_extruder_temp:0
variable_max_record_extruder_temp:0
variable_tap_offset: 0.16 # --- Z-Offset nach dem Tap (+ hoeher, - tiefer, z.B. 0.01) ---
gcode:
    {% set bedtemp = params.BED_TEMP|default(60)|int %}
    {% set hotendtemp = params.EXTRUDER_TEMP|default(230)|int %}
    {% set heatsoak = params.HEATSOAK|default(True)|int %}
    {% set heatsoak_time = printer['gcode_macro _global_var'].heat_soak_time|default(0)|int %} # takes heatsoak time from global variables
    {% set mesh_name = "default" %}
    {% set mesh_calibrate_temp = printer['gcode_macro _global_var'].bed_mesh_calibrate_target_temp|int %}

    {% set bed_target_temp = bedtemp|int %}

    # Calculate Tap position (Adaptive or Center)
    {% set tap_x = printer.toolhead.axis_maximum.x / 2 %}
    {% set tap_y = printer.toolhead.axis_maximum.y / 2 %}

    {% if printer.exclude_object.objects|length > 0 %}
        {% set x_centers = [] %}
        {% set y_centers = [] %}
        {% for obj in printer.exclude_object.objects %}
            {% set _ = x_centers.append(obj.center[0]) %}
            {% set _ = y_centers.append(obj.center[1]) %}
        {% endfor %}
        {% if x_centers|length > 0 %}
            {% set tap_x = (x_centers|min + x_centers|max) / 2 %}
            {% set tap_y = (y_centers|min + y_centers|max) / 2 %}
            RESPOND MSG="Tap at Exclude_Object Center: X{tap_x} Y{tap_y}"
        {% endif %}
    {% elif params.MESH_MIN and params.MESH_MAX %}
        {% set mesh_min_x = params.MESH_MIN.split(',')[0]|float %}
        {% set mesh_min_y = params.MESH_MIN.split(',')[1]|float %}
        {% set mesh_max_x = params.MESH_MAX.split(',')[0]|float %}
        {% set mesh_max_y = params.MESH_MAX.split(',')[1]|float %}
        {% set tap_x = (mesh_min_x + mesh_max_x) / 2 %}
        {% set tap_y = (mesh_min_y + mesh_max_y) / 2 %}
        RESPOND MSG="Tap at MESH_MIN/MAX Center: X{tap_x} Y{tap_y}"
    {% else %}
        RESPOND MSG="Standard Tap at Center: X{tap_x} Y{tap_y}"
    {% endif %}
    # Calculate End

    M400
    CLEAR_PAUSE
    G1 F8000 ; Accelerate to 3000mm/min
    G92 E0 # Reset extruder
    G90 ; Activate absolute Mode
    
    {% if state == 'Prepare' %}
        {% if printer.toolhead.homed_axes|lower != "xyz" %}
            M117 Homing all Axes
            G28
            G1 Z5
        {% endif %}

        {% if printer['filament_motion_sensor encoder_sensor'].enable == True and
              printer['filament_motion_sensor encoder_sensor'].filament_detected != True
        %}
            M117 No filament!!!
            {action_respond_info("Please Insert filament in Sensor!")}
            CANCEL_PRINT
        {% endif %}

        # Start exhaust fan
        SET_FAN_SPEED FAN=exhaust_fan SPEED=1

        # Heating Up Nozzle and Bed
        M140 S{bed_target_temp}
        M109 S{hotendtemp}
        {% if printer.heater_bed.temperature < bed_target_temp %}
            M117 Bed heating...
            RESPOND MSG="Bed heating"
            M190 S{bed_target_temp}
        {% endif %}

        # Clean Nozzle after Heating up Bed
        M104 S120; Cooldown Nozzle for tap
        CLEAN_NOZZLE

        G1 X20 Y20 Z50 F6000; Move forward and take a look at Nozzle

        # Heatsoak
        {% if heatsoak == True %}
          M117 Short Heat Soak
          RESPOND MSG="Short Heat Soak..."
          G4 P{heatsoak_time * 30000} # pause for x number of minute(s) (see variable_heat_soak_time)
        {% endif %}

        # QGL
        {% if printer.quad_gantry_level.applied|lower != 'true' %}
            M117 QGL
            RESPOND MSG="Quad Gantry Level"
            QUAD_GANTRY_LEVEL
        {% endif %}

        # Z offset correction ( Tap )
        M117 Tapping
        RESPOND MSG="Starting Tap measurement..."
        G90
        G1 X{tap_x} Y{tap_y} Z20 F6000
        PROBE METHOD=tap SAMPLES=3 SAMPLES_RESULT=average SAMPLES_TOLERANCE=0.01 SAMPLES_TOLERANCE_RETRIES=5
        _FINISH_TAP_CORRECTION Z_OFFSET={tap_offset}
        M104 S{hotendtemp}; Preheat Nozzle again

        # Scan Bed
        M117 Bed Mesh
        RESPOND MSG="Bed Mesh"
        {% set current_accel = printer.toolhead.max_accel %} # Save current accel
        M204 S700 # Reduce Accel for better Result
        BED_MESH_CALIBRATE METHOD=rapid_scan ADAPTIVE=1 
        M204 S{current_accel} # Restore Accel
        
        # Move Z up to avoid damage while heating
        G1 Z10 F3000
        M117 Heating Nozzle...
        RESPOND MSG="Heating Nozzle"
        M109 S{hotendtemp} # Set nozzle temp and wait

        SET_GCODE_VARIABLE MACRO=START_PRINT VARIABLE=state VALUE='"Start"' 
        UPDATE_DELAYED_GCODE ID=_print_start_wait DURATION=0.5

    {% elif state == 'Start' %}
        RESPOND MSG="Printing started"
        M117 Printing now!!!
    {% endif %}
