# Everything related to Tapping and Probe Correction

[gcode_macro _FINISH_TAP_CORRECTION]
gcode:
    {% set z_offset = params.Z_OFFSET|default(0.0)|float %}
    {% set Z = printer.toolhead.position.z %}
    # 1. Z-Kinematik exakt auf den echten Nullpunkt (Duese am Bett) setzen.
    SET_KINEMATIC_POSITION Z={Z - printer.probe.last_probe_position.z}
    # 2. Den Offset per SET_GCODE_OFFSET festlegen, damit das ueber
    #    den Gcode verrechnet wird und NICHT vom nachfolgenden 
    #    Bed Mesh weg-korrigiert wird! (+ Wert = Duese hoeher)
    SET_GCODE_OFFSET Z={z_offset}
    G0 Z10

# Example of how Tapping is called in START_PRINT:
# PROBE METHOD=tap SAMPLES=3 SAMPLES_RESULT=average SAMPLES_TOLERANCE=0.01 SAMPLES_TOLERANCE_RETRIES=5
# _FINISH_TAP_CORRECTION Z_OFFSET={tap_offset}

[gcode_macro _CALIBRATION_ZOFFSET]
gcode:
    M117 Calibrate Offset
    QUAD_GANTRY_LEVEL
    M140 S65
    G4 P500
    CLEAN_NOZZLE
    G4 P500
    M117 zoffset calibration
    Z_OFFSET_CALIBRATION
    Z_OFFSET_APPLY_PROBE
    SAVE_CONFIG 

[gcode_macro Z_OFFSET_APPLY_PROBE]
rename_existing: Z_OFFSET_APPLY_PROBE_ORIG
gcode:
  SAVE_VARIABLE VARIABLE=nvm_offset VALUE={ printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset }

[gcode_macro SET_Z_FROM_PROBE]
gcode:
    {% set cf = printer.configfile.settings %}
    SET_GCODE_OFFSET_ORIG Z={printer.probe.last_z_result - cf['probe_eddy_current btt_eddy'].z_offset + printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset}

# Beta z-offset control from eddy-macros.cfg
[delayed_gcode RESTORE_PROBE_OFFSET]
initial_duration: 1.
gcode:
  {% set svv = printer.save_variables.variables %}
  {% if not printer["gcode_macro SET_GCODE_OFFSET"].restored %}
    SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=runtime_offset VALUE={ svv.nvm_offset|default(0) }
    SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=restored VALUE=True
  {% endif %}

[gcode_macro SET_GCODE_OFFSET]
rename_existing: SET_GCODE_OFFSET_ORIG
variable_restored: False  # Mark whether the var has been restored from NVM
variable_runtime_offset: 0
gcode:
  {% if params.Z_ADJUST %}
    SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=runtime_offset VALUE={ printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset + params.Z_ADJUST|float }
  {% endif %}
  {% if params.Z %} 
    {% set paramList = rawparams.split() %}
    {% for i in range(paramList|length) %}
      {% if paramList[i]=="Z=0" %}
        {% set temp=paramList.pop(i) %}
        {% set temp="Z_ADJUST=" + (-printer["gcode_macro SET_GCODE_OFFSET"].runtime_offset)|string %}
        {% if paramList.append(temp) %}{% endif %}
      {% endif %}
    {% endfor %}
    {% set rawparams=paramList|join(' ') %}
    SET_GCODE_VARIABLE MACRO=SET_GCODE_OFFSET VARIABLE=runtime_offset VALUE=0
  {% endif %}
  SET_GCODE_OFFSET_ORIG { rawparams }
